<% if (post.link){ %>
  <h1 itemprop="name" class="post-title">
    <a class="<%= class_name %>" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %></a>
  </h1>
<% } else if (post.title){ %>
  <% if (index){ %>
    <h1 itemprop="name" class="post-title">
      <% if (post.origin_type == "o"){ %>
      <span class="title-label origin-label" title="原创博客">原</span>
      <% } else if (post.origin_type == "f"){%>
      <span class="title-label forward-label" title="转帖博客">转</span>
      <% } %>
      <a class="<%= class_name %>" href="<%- url_for(post.path) %>" ><%= post.title %></a>
    </h1>
  <% } else { %>
    <h1 class="<%= class_name %> post-title" itemprop="name">
      <% if (post.origin_type == "o"){ %>
      <span class="title-label origin-label" title="原创博客">原</span>
      <% } else if (post.origin_type == "f"){%>
      <span class="title-label forward-label" title="转帖博客">转</span>
      <% } %>
      <span><%= post.title %></span>
    </h1>
  <% } %>
<% } %>